<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ossUrl" value="http://192.168.0.33:8086"/>
		<add key="ossFullAccessToken" value="mlqYtaIaFOveXIfky4BLF85sH_wqsoM6o1ql7iq98XzAnNHklMnuo69MXQtX3CF_mQSyka68YwvF86IAq2XEcQ=="/>
		<add key="ossOrganizationId" value="be1b1129916e6b4f"/>
		<add key="ossDefBucketId" value="demo"/>
		<add key="cloudUrl" value="https://eu-central-1-1.aws.cloud2.influxdata.com/"/>
		<add key="cloudFullAccessToken" value="kmisYcPDXJJ-XjLIDfCBtJSM0shhoBS0NA7rVHDqTssN8Fn7NOwXhKraYw2YmPgdMBP6SiUaHHwxqTfRSBYb2w=="/>
		<add key="cloudOrganizationId" value="95322184b42f42cf"/>
		<add key="cloudDefBucketId" value="6d4e87f7f437ab01"/>
	</appSettings>
</configuration>