@{
  ViewData["Title"] = "Home Page";
}

<div class="text-center">
  <h1 class="display-4">Welcome to <strong>LibMan</strong> world</h1>
  <div class="container">
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
  </div>
  
  <div class="container mt-5">
    <div class="row mb-3">
      <div class="col-sm-3 badge bg-info">
        <i class="bi bi-asterisk"></i>
        @($"Environment: v.{System.Environment.Version}")
      </div>

      <div class="col-sm-3 badge bg-info">
        <i class="bi bi-asterisk"></i>
        @($"Framework: {System.Runtime.InteropServices.RuntimeInformation.FrameworkDescription}")
      </div>

      <div class="col-sm-6 badge bg-info">
        <i class="bi bi-asterisk"></i>
        @($"Target: {AppDomain.CurrentDomain.SetupInformation.TargetFrameworkName}")
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4 col-md-6 badge bg-info">
        <i class="bi bi-asterisk"></i>
        <a href="#" class="text-primary" onclick="openBootstrapPage();">Bootstrap v5.0.1</a>
      </div>

      <div class="col-sm-8 col-md-6 badge bg-info">
        <i class="bi bi-asterisk"></i>
        <a href="#" class="text-primary" onclick="openBootstrapIconsPage();">Bootstrap icons 1.5.0</a>
        (<a href="#" class="text-primary" onclick="openAllIconsLocal();">local copy list</a>)
      </div>
    </div>

  </div>
</div>

<script type="text/javascript">
  function openBootstrapPage() {
    window.open('https://getbootstrap.com/', '_blank').focus();
  };
  function openBootstrapIconsPage() {
    window.open('https://icons.getbootstrap.com/', '_blank').focus();
  };
  function openAllIconsLocal() {
    window.open('/lib/bootstrap-icons/dist/font/bootstrap-icons.json', '_blank').focus();
  };
</script>
