@model PartyInvites.Models.GuestResponse
@{
    Layout = null;
}
<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>RsvpForm</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <h5 class="bg-primary text-white text-center m-2 p-2">RSVP</h5>
    <form asp-action="RsvpForm" method="post" class="m-2">
        <div asp-validation-summary="All"></div>
        <div class="fourm-group">
            <label asp-for="Name" class="form-label">Your Name *</label>
            <input asp-for="Name" class="form-control" />
        </div>
        <div class="fourm-group">
            <label for="Email" class="form-label">Your E-mail *</label>
            <input asp-for="Email" class="form-control" />
        </div>
        <div class="fourm-group">
            <label asp-for="Phone" class="form-label">Phone *</label>
            <input asp-for="Phone" class="form-control" />
        </div>
        <div class="fourm-group">
            <label asp-for="WillAttend" class="form-label">Will attend *</label>
            <select asp-for="WillAttend" class="form-control">
                <option value="">Choose an option...</option>
                <option value="true">Yes, I will come</option>
                <option value="false">No, I can't come</option>
            </select>
        </div>
        <button class="btn btn-primary mt-3" type="submit">Submit RSVP</button>
    </form>
</body>

</html>