<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ossUrl" value="http://localhost:8086"/>
		<add key="ossToken" value="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VybmFtZSI6InNhIiwiZXhwIjoxNjA0NDA4MjU0LCJuYmYiOjE2MDM1NDQyNTQsImlhdCI6MTYwMzU0NDI1NH0.5gwJ6sH-cukEyBRKj9SQncoO0KTO-VVkA_9cMkzkGRI"/>
		<add key="cloudUrl" value="https://eu-central-1-1.aws.cloud2.influxdata.com/"/>
		<add key="cloudToken" value="kmisYcPDXJJ-XjLIDfCBtJSM0shhoBS0NA7rVHDqTssN8Fn7NOwXhKraYw2YmPgdMBP6SiUaHHwxqTfRSBYb2w=="/>
		<add key="cloudReadWriteToken" value="EsuATZ7tDIMj6WV8SFzs22t9R3K0tOMQbYQd5Z44mDmZCj89aiMddiFsJbsY3ITHN1550QDJJwHRqy8UvbqrrA=="/>
		<add key="cloudOrganizationId" value="95322184b42f42cf"/>
		<add key="cloudDefBucketId" value="6d4e87f7f437ab01"/>
	</appSettings>
</configuration>