<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="url" value="http://localhost:8086"/>
		<add key ="token" value="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VybmFtZSI6InNhIiwiZXhwIjoxNjA0NDA4MjU0LCJuYmYiOjE2MDM1NDQyNTQsImlhdCI6MTYwMzU0NDI1NH0.5gwJ6sH-cukEyBRKj9SQncoO0KTO-VVkA_9cMkzkGRI"/>
	</appSettings>
</configuration>